{# src/OC/PlatformBundle/Ressources/views/Advert/index.html.twig #}

{% extends 'CBPlatformBundle::layout.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
{% endblock %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}


{% block cbplatform_body %}

<h2>Liste des annonces</h2>

{% for advert in listAdverts %}
<div class="col s12 m7">
  <div class="card horizontal">
    <div class="card-image">
      <img src="{{ asset(advert.image) }}" alt="">
      <!-- <img src="https://lorempixel.com/100/190/nature/6"> -->
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <p>{{ advert.content }}</p>
      </div>
      <div class="card-action">
        <li>
          <a href="{{ path('cb_platform_view', {'id': advert.id}) }}">{{ advert.title }}</a>
          par {{ advert.author }},
          le {{ advert.date|date('d/m/y') }}
        </li>
      </div>
    </div>
  </div>
</div>
{% endfor %}

  <!-- <ul>
    {% for advert in listAdverts %}
        <li>
          <a href="{{ path('cb_platform_view', {'id': advert.id}) }}">{{ advert.title }}</a>
          par {{ advert.author }},
          le {{ advert.date|date('d/m/y') }}
        </li>
        {% else %}
            <li>Pas (encore !) d'annonces</li>
    {% endfor %}
  </ul> -->
{% endblock %}
